PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
MP_ACCESS_TOKEN=
JWT_SECRET=

# Mercado Pago Config
MP_ACCESS_TOKEN=APP_USR-4828172035291736-041919-70bcabb66af8aec437ba629ce3691f5b-3346874492
MP_SUCCESS_URL=http://localhost:5173/payment-success
MP_FAILURE_URL=http://localhost:5173/payment-failure

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gemini AI Config
GEMINI_API_KEY=
